{% extends 'base.html.twig' %}

{% block title %}Meeting index{% endblock %}

{% block body %}

    {% include 'shared/navbar.html.twig' %}



    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Here are our upcoming meetings</h6>
                    <h2>Upcoming Meetings</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="filters">
                                <ul>
                                    <li data-filter="*" class="active">All Meetings</li>
                                    <li data-filter=".NOT_STARTED">Not Strated</li>
                                    <li data-filter=".ACTIVE">Active</li>
                                    <li data-filter=".COMPLETED">Completed</li>
                                    <li data-filter=".CANCELED">Canceled</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row grid">
                                {% for meeting in meetings %}
                                    <div class="col-md-4">
                                        <div class="col-md-11 templatemo-item-col all ">
                                            <div class="meeting-item">
                                                <div class="thumb">
                                                    <div class="price">
                                                        <span>{{ meeting.status }}</span>
                                                    </div>
                                                    <a href="meeting-details.html"><img
                                                                src="assets/images/meeting-04.jpg" alt=""></a>
                                                </div>
                                                <div class="down-content">
                                                    <a class="title" href="meeting-details.html"
                                                       style="text-transform: uppercase; display: block; line-height:15px">{{ meeting.title }}</a>

                        <span class=""
                              style="font-size: 14px; color: grey; font-weight: normal">Room code: {{ meeting.roomId }}</span>
                                                        <span class="iconify"
                                                              data-icon="line-md:clipboard-arrow-twotone"
                                                              data-width="21"
                                                              style="color: #595959;"></span> </a>
                                                    <br>


                                                    <div class="mt-3" style="font-size: 15px">
                                                        <div class="row">
                                                            <div class="icon-part">
                                                                <span class="iconify" data-icon="uiw:date"
                                                                      data-width="21" data-height="21"></span>
                                                            </div>
                                                            <div class="text-part">
                                                                <td>{{ meeting.dateTime ? meeting.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3">
                                                        <div class="row">
                                                            <div class="icon-part">
                                                                <span class="iconify me-2"
                                                                      data-icon="fa-solid:chalkboard-teacher"
                                                                      data-width="21"></span>

                                                            </div>
                                                            <div class="text-part">
{#                                                                <span> meeting.organizer[0].firstname + " " + meeting.organizer[0].lastname </span>#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3">
                                                        <div class="row">
                                                            <div class="icon-part">
                                                                <span class="iconify"
                                                                      data-icon="fluent:text-description-32-filled"
                                                                      data-width="23"></span>
                                                            </div>
                                                            <div class="text-part">

                                                                <td>{{ meeting.description }}</td>
                                                            </div>
                                                        </div>


                                                        <button class="btn custom-btn1 mt-4"
                                                                (click)="redirectToDetails(meeting.roomId)">
                                                            Show meet details
                                                        </button>
                                                        <!--                        todo: add if meeting.datetime - 2 hours the link available, else the button disabled and write under it : joining will be available 2 hours before the meet-->
                                                        <button class="btn custom-btn1 mt-2"
                                                                (click)="redirectToRoom(meeting.roomId)">Join Room
                                                        </button>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <h3>no records found</h3>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
                <br>Design: <a href="https://templatemo.com/page/1" target="_parent" title="website templates">TemplateMo</a>
            </p>
        </div>
    </section>

{% endblock %}