{% extends 'base.html.twig' %}

{% block title %}Meeting index{% endblock %}

{% block body %}
    <h1>Meeting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RoomId</th>
                <th>Title</th>
                <th>Description</th>
                <th>DateTime</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
            <tr>
                <td>{{ meeting.id }}</td>
                <td>{{ meeting.roomId }}</td>
                <td>{{ meeting.title }}</td>
                <td>{{ meeting.description }}</td>
                <td>{{ meeting.dateTime ? meeting.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meeting.status }}</td>
                <td>
                    <a href="{{ path('app_meeting_show', {'id': meeting.id}) }}">show</a>
                    <a href="{{ path('app_meeting_edit', {'id': meeting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_meeting_new') }}">Create new</a>
{% endblock %}
